.fondo-purpura{
    background-color: #592a56;
}
.fondo-celeste{
    background-color: #65bbd2;
}
.fondo-amarillo{
    background-color: #f88010;
}
.fondo-rojo{
    background-color: #be0e3c;
}
/*----------*/
.contenedorTabla{
    overflow-x: scroll;
    width: auto;
}
.tabla-listado{
    width: max-content;
    border: solid 1px #FFFFFF;
    text-transform: uppercase;
    border-collapse: initial;
    font-size: 0.9em !important;
}
.tabla-listado td{
    width: auto;
    /* border: solid 1px #8b8b8b; */
    padding-left: 5px;
    padding-right: 5px;
}

.thead-listado{
    width: auto;
    background-color: #592a56;
    color: #FFFFFF;
    text-align: center;
}
.thead-listado th{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.cursor-pointer{
    cursor: pointer;
}
.div-filtro{
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.txtFiltro{
    height: 30px !important;
    padding-bottom: 0;
}
.content-header{
    padding: 5px;
}
.txtFiltro button{
    margin: 0 !important;
}
.thAccion{
    width: 160px;
}
.divConfirmacion{
    display: flex;
}
.divIconWarning{
    width: 30%;
}
.divIconWarning img{
    width: 100%;
}
.error{
    color: #be0e3c;
    font-size: 0.8em;
    font-style: italic;
}
.tabla{
    overflow:scroll;
}
a{
    text-decoration: none !important;
}
.brand-text{
    text-decoration: none !important;
}
.logoAerolinea{
    width: 150px;
}
.uTextBox{
    font-size: 0.8em;
    display: block;
    width: 100%;
    border: none;
    border-bottom: #DEE2E6 1px solid;
    appearance: none;
}
.uTextBox:focus{
    border: none;
    border-bottom: #592a56 1px solid;
    outline: 0;
}
#cboCliente{
    z-index: 3000;
}
.seccion1{
    background-color: #d8dde2;
    padding: 7px;
    border-radius: 5px;
}
.seccion2{
    background-color: #eaeef1;
    padding: 7px;
    border-radius: 5px;
}

.uTextBoxInLine{
    font-size: 0.8em;
    display: inline;
    width: 50%;
    border: none;
    border-bottom: #DEE2E6 1px solid;
    appearance: none;
}
.uTextBoxInLine:focus{
    border: none;
    border-bottom: #592a56 1px solid;
    outline: 0;
}

.uTextBoxInLine2{
    font-size: 0.8em;
    display: inline;
    width: 60%;
    border: none;
    border-bottom: #DEE2E6 1px solid;
    appearance: none;
}
.uTextBoxInLine2:focus{
    border: none;
    border-bottom: #592a56 1px solid;
    outline: 0;
}
.uTextBox:disabled{
    background-color: #f7f3f3;
}
.txtIntegradorBoleto{
    width: 90%;
    height: 400px;
}
.contenedorFiltro{
    background-color: #FFFFFF;
    padding: 20px;
}
.contenedorTablaCC{
    overflow: auto;
    width: auto;
    max-height: 300px;
}
.thead-listadoCC{
    position: sticky;
    top: 0;
    width: auto;
    background-color: #592a56;
    color: #FFFFFF;
    text-align: center;
}